body {
    background-color: #EDE2D4;
}

h1 {
    text-align: center;
    color: black;
    font-family: "Playfair Display SC", serif;
    font-weight: 600;
    font-style: normal;
    position: relative;
    padding-bottom: 20px;
}

h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 2px;
    background: #0F0000;
}

h2 {
    text-align: center;
    font-family: "Playfair Display SC", serif;
    position: relative;
    padding-bottom: 15px;
}

h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 1px;
    background: #0F0000;
}

#container {
    display: flex;
    gap: 10px;
}

#button {
    color: #0F0000;
    background-color: #6E1313;
    padding: 20px;
    border: 3px solid #0F0000;
    border-radius: 15px;
    font-family: "Libre Baskerville", serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#main {
    color: #0F0000;
    background-color: #6E1313;
    padding: 20px;
    border-radius: 15px;
    font-family: "Libre Baskerville", serif;
    border: 3px solid #0F0000;
    margin: 20px;
}

#sidebar {
    color: #0F0000;
    background-color: #6E1313;
    padding: 20px;
    border-radius: 15px;
    font-family: "Libre Baskerville", serif;
    border: 3px solid #0F0000;
    margin: 20px;
}

.desktop-only {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 10px;
    border: 3px solid #0F0000;
}

@media (max-width: 669px) {
    .desktop-only {
        display: block;
    }
    #container {
        flex-direction: column;
    }
}

@media (min-width: 700px) {
    #container {
        display: flex;
        gap: 40px;
    }
    #main {
        width: 50%;
        margin-right: 20px;
    }
    #sidebar {
        width: 50%;
        margin-left: 20px;
    }
}



